* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  height: 100vh;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

header {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  padding-right: 20px;
}

.time-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
}

.time {
  font-size: 8rem;
  font-weight: 500;
  letter-spacing: -2px;
}

h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  margin-bottom: 0.5rem;
  font-weight: 400;
}

[contenteditable] {
  outline: 0px solid transparent;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  font-size: 18px;
}

.quoteDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  padding-left: 10px
}

button:hover {
  cursor: pointer;
}

.toDoButton {
  user-select: none;
}

.toDoButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

.hide-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.todo-container {
  display: none;
  flex-direction: column;
  width: 500px;
  text-align: left;
  padding: 40px;
  background-color: rgb(0, 0, 0, 0.5);
  position: absolute;
  line-height: 1.8;
  border-radius: 10px;
  margin: 0 20px 20px 0;
  transform: translateY(-20px)
}

.box {
  width: 380px;
  height: 30px;
  border-radius: 5px;
}

input {
  accent-color: rgb(53, 53, 53);
  outline: none;
  border: none
}

input[type="text"] {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  padding: 10px;
  background: rgb(255, 255, 255, 0.9);
  font-family: Lato, sans-serif;
  color: #888;
}

input[type="text"]:focus {
  color: #333;
}

.add-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
}

.add-task {
  padding-left: 20px;
}

.todo-list {
  display: flex;
}

.todo-label,
.complete-label,
.add-label {
  padding-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 2px solid white;
  font-weight: 500;
  color: antiquewhite;
  letter-spacing: 1px;
}

.todo-list-1 {
  padding-top: 10px;
}

.complete-list {
  padding-top: 10px;
  text-decoration: line-through;
  color: rgb(189, 188, 188)
}

#label {
  padding-left: 10px;
}

.add-task > .fa-plus {
  border-radius: 5px;
  color: rgb(209, 203, 203);
}

.fa-trash-o {
  display: none;
  padding-left: 30px;
}

.fa-trash-o:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 80px;
  background-color: rgba(88, 88, 88, 0.7);
  color: rgb(235, 235, 235);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%; 
  margin-left: -60px;
  font-size: 11px
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.quote-box {
  border-radius: 5px;
  width: 400px;
  outline: none;
  border: none;
  position: absolute;
  transform: translate(145px, -40px);
  display: none;
}